<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% include 'partial/_header.html.twig' %}
	<title>
		{% block title %}Transchlor
		{% endblock %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://kit.fontawesome.com/2a4a6b55cc.js" crossorigin="anonymous"></script>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}

</head>
<body>
{% block body %}


{% endblock %}
{% include 'partial/_footer.html.twig' %}
</body>

</html>

