{% extends 'base.html.twig' %}
{% block title %}Transchlor - L'application web
{% endblock %}

{% block body %}
	<h1 class="text-4xl text-center font-bold tracking-widest">Page d'accueil de Transchlor</h1>
{% endblock %}